:root {
  --app-background: var(--indigo1);
  --subtle-background: var(--indigo2);
  --ui-element-background: var(--indigo3);
  --ui-element-hover-background: var(--indigo4);
  --ui-element-active-background: var(--indigo5);
  --subtle-border: var(--indigo6);
  --border: var(--slate9);
  --hover-border: var(--indigo8);
  --solid-background: var(--indigo9);
  --solid-hover-background: var(--indigo10);
  --text-lc: var(--indigo11);
  --text-hc: var(--indigo12);
  --text-solid: #fff;

  --danger: var(--tomato9);
  --danger-subtle-border: var(--tomato6);

  --border-radius: 4px;

  --spacer--xs: 4px;
  --spacer--sm: 8px;
  --spacer--md: 16px;
  --spacer--lg: 24px;
  --spacer--xl: 32px;
  --spacer--2xl: 48px;
}

.dark-theme {
  --app-background: var(--indigo1);
  --subtle-background: var(--indigo2);
  --ui-element-background: var(--indigo3);
  --ui-element-hover-background: var(--indigo4);
  --ui-element-active-background: var(--indigo5);
  --subtle-border: var(--indigo6);
  --border: var(--indigo7);
  --hover-border: var(--indigo8);
  --solid-background: var(--indigo9);
  --solid-hover-background: var(--indigo10);
  --text-lc: var(--indigo11);
  --text-hc: var(--indigo12);

  --danger: var(--tomato9);
}

body {
  margin: 0;
  color: var(--text-hc);
  background: var(--app-background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  line-height: 1.2;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  margin: 1.5rem 0 1rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a.plain {
  text-decoration: none;
}

ol,
ul,
pre {
  margin: 0;
}

area:focus {
  outline: none;
}

:root {
  --game-columns: 3;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  :root {
    --game-columns: 1;
  }
}
@media only screen and (min-width: 600px) {
  :root {
    --game-columns: 2;
  }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 889px) {
  :root {
    --game-columns: 3;
  }
}
@media only screen and (min-width: 1200px) {
  :root {
    --game-columns: 4;
  }
}
@media only screen and (min-width: 2200px) {
  :root {
    --game-columns: 5;
  }
}
.qspider-player a {
  color: var(--solid-background);
  text-decoration: none;
}
.qspider-player a:visited {
  color: var(--solid-background);
}

.qspider-player {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.qspider-player-main {
  flex: 1 1 auto;
  max-height: calc(100vh - 48px);
  overflow: auto;
  padding: var(--spacer--md);
}
.qspider-navbar {
  height: 48px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.qspider-logo {
  height: 48px;
  padding-left: 42px;
  font-size: 24px;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ff0002;
  background: url(./qspider-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: var(--spacer--md);
}
.qspider-nav {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--spacer--md) 0 0;
}
.qspider-nav .qspider-block {
  display: flex;
  align-items: center;
}
.qspider-nav .qspider-block .q-button + button {
  margin-left: var(--spacer--sm);
}
.qspider-nav ul {
  padding: 0;
  list-style: none;
}
.qspider-nav ul li {
  display: inline-block;
  border-radius: var(--border-radius);
}
.qspider-nav ul li a {
  display: inline-block;
  padding: var(--spacer--sm) var(--spacer--md);
}
.qspider-nav ul li:hover {
  background: var(--ui-element-hover-background);
}
.qspider-active {
  border-radius: var(--border-radius);
  background: var(--ui-element-active-background);
}

.game-shelf {
  padding: 1rem;
}
.game-shelf__list {
  display: grid;
  grid-template-columns: repeat(var(--game-columns, 3), 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
.wait-lock {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
}

.classic-table {
  border-color: rgb(238, 238, 237);
  border-style: inset;
  border-width: var(--table-border-width, 0);
  border-spacing: var(--table-cellspacing, 0);
}
.classic-table td,
.classic-table th {
  border-spacing: var(--table-cellpadding, 0);
  border-color: rgb(238, 238, 237);
  border-style: inset;
  border-width: var(--table-border-width, 0);
}
.classic-table td > img,
.classic-table th > img {
  vertical-align: bottom;
}

.q-ghost-button {
  appearance: none;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  user-select: none;
  font-size: 1rem;
  color: var(--text-hc);
  background: transparent;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: var(--spacer--sm);
}
.q-ghost-button:hover {
  background-color: var(--ui-element-hover-background);
}

.q-button {
  appearance: none;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  user-select: none;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  font-weight: bold;
  font-size: 1rem;

  background: var(--solid-background);
  border: 1px solid var(--solid-background);
  border-radius: var(--border-radius);
  color: var(--text-solid);
  padding: var(--spacer--sm) var(--spacer--md);
}

.q-button:hover {
  background: var(--solid-hover-background);
}
.q-button:focus,
.q-button:focus-within,
.q-button:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--subtle-border), 0 1px 2px 0 black;
}
.q-button:disabled {
  cursor: default;
  opacity: 0.6;
}
.q-button.q-danger {
  background: var(--danger);
  border-color: var(--danger);
}
.q-button.q-danger:focus,
.q-button.q-danger:focus-within {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--danger-subtle-border), 0 1px 2px 0 black;
}

.q-button + .q-button {
  margin-left: var(--spacer--sm);
}

.q-select {
  appearance: none;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0;
  user-select: none;
  font-weight: bold;
  font-size: 1rem;

  background: var(--app-background);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  color: var(--text-hc);
  padding: var(--spacer--sm) var(--spacer--sm) var(--spacer--sm) var(--spacer--md);
}

.q-select:hover {
  border-color: var(--hover-border);
}

.q-select:focus,
.q-select:focus-within,
.q-select:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--subtle-border), 0 1px 2px 0 black;
}

.q-select-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--spacer--sm);
}

.q-select-content {
  background: var(--app-background);
  border: 1px solid var(--border);
  color: var(--text-hc);
  font-size: 1rem;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  overflow: hidden;
}

.q-select-item {
  position: relative;
  cursor: pointer;
  padding: var(--spacer--sm) var(--spacer--md) var(--spacer--sm) var(--spacer--lg);
}
.q-select-item:hover {
  background: var(--ui-element-hover-background);
}

.q-select-scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  background-color: white;
  color: var(--solid-background);
  cursor: default;
}

.q-select-item-indicator {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--solid-background);
}

.q-input {
  appearance: none;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  user-select: none;
  font-size: 1rem;

  background: var(--app-background);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  color: var(--text-hc);
  padding: var(--spacer--sm);
}
.q-input:hover {
  border-color: var(--hover-border);
}
.q-input:focus,
.q-input:focus-within,
.q-input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--subtle-border);
}
