:root {
  --app-background: var(--indigo1);
  --subtle-background: var(--indigo2);
  --ui-element-background: var(--indigo3);
  --ui-element-hover-background: var(--indigo4);
  --ui-element-active-background: var(--indigo5);
  --subtle-border: var(--indigo6);
  --border: var(--slate9);
  --hover-border: var(--indigo8);
  --solid-background: var(--indigo9);
  --solid-hover-background: var(--indigo10);
  --text-lc: var(--indigo11);
  --text-hc: var(--indigo12);
  --text-solid: #fff;

  --danger: var(--tomato9);
  --danger-subtle-border: var(--tomato6);

  --border-radius: 4px;

  --spacer--xs: 4px;
  --spacer--sm: 8px;
  --spacer--md: 16px;
  --spacer--lg: 24px;
  --spacer--xl: 32px;
  --spacer--2xl: 48px;
}

.dark-theme {
  --app-background: var(--indigo1);
  --subtle-background: var(--indigo2);
  --ui-element-background: var(--indigo3);
  --ui-element-hover-background: var(--indigo4);
  --ui-element-active-background: var(--indigo5);
  --subtle-border: var(--indigo6);
  --border: var(--indigo7);
  --hover-border: var(--indigo8);
  --solid-background: var(--indigo9);
  --solid-hover-background: var(--indigo10);
  --text-lc: var(--indigo11);
  --text-hc: var(--indigo12);

  --danger: var(--tomato9);
}

body {
  margin: 0;
  color: var(--text-hc);
  background: var(--app-background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  line-height: 1.2;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  margin: 1.5rem 0 1rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a.plain {
  text-decoration: none;
}

ol,
ul,
pre {
  margin: 0;
}

area:focus {
  outline: none;
}

:root {
  --game-columns: 3;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  :root {
    --game-columns: 1;
  }
}
@media only screen and (min-width: 600px) {
  :root {
    --game-columns: 2;
  }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 889px) {
  :root {
    --game-columns: 3;
  }
}
@media only screen and (min-width: 1200px) {
  :root {
    --game-columns: 3;
  }
}
@media only screen and (min-width: 2200px) {
  :root {
    --game-columns: 5;
  }
}
.qspider-player a {
  color: var(--solid-background);
  text-decoration: none;
}
.qspider-player a:visited {
  color: var(--solid-background);
}

.qspider-player {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.qspider-player-main {
  flex: 1 1 auto;
  max-height: calc(100vh - 48px);
  overflow: auto;
  padding: var(--spacer--md);
  background-color: var(--subtle-background);
}
.qspider-navbar {
  z-index: 1;
  height: 48px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.qspider-logo {
  height: 48px;
  padding-left: 42px;
  font-size: 24px;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ff0002;
  background: url(./qspider-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: var(--spacer--md);
}
.qspider-nav {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--spacer--md) 0 0;
}
.qspider-nav .qspider-block {
  display: flex;
  align-items: center;
}
.qspider-nav .qspider-block .q-button + button {
  margin-left: var(--spacer--sm);
}
.qspider-nav ul {
  padding: 0;
  list-style: none;
}
.qspider-nav ul li {
  display: inline-block;
  border-radius: var(--border-radius);
}
.qspider-nav ul li a {
  display: inline-block;
  padding: var(--spacer--sm) var(--spacer--md);
}
.qspider-nav ul li:hover {
  background: var(--ui-element-hover-background);
}
.qspider-active {
  border-radius: var(--border-radius);
  background: var(--ui-element-active-background);
}

.game-shelf__list {
  display: grid;
  grid-template-columns: repeat(var(--game-columns, 3), 1fr);
  column-gap: var(--spacer--md);
  row-gap: var(--spacer--md);
}

.game-shelf__card {
  position: relative;
  border-radius: var(--border-radius);
  padding: var(--spacer--sm);
  background-color: var(--app-background);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.game-shelf__card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.game-shelf__card-content {
  flex: 1 1 auto;
}
.game-shelf__card-content h3 {
  margin-top: 0;
  padding-right: var(--spacer--sm);
}
.game-shelf__card-actions {
  margin-top: var(--spacer--sm);
  display: flex;
  justify-content: end;
}

.game-shelf__card .q-remove-game-button {
  position: absolute;
  top: 0;
  right: 0;
}

.q-catalog__list {
  display: grid;
  grid-template-columns: repeat(var(--game-columns, 3), 1fr);
  column-gap: var(--spacer--md);
  row-gap: var(--spacer--md);
}
.q-catalog__card {
  position: relative;
  border-radius: var(--border-radius);
  padding: var(--spacer--sm);
  background-color: var(--app-background);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.q-catalog__card-details {
  display: flex;
}
.q-catalog__card-details > div {
  max-width: 49%;
  min-width: 35%;
}
.q-catalog__card-details > div + div {
  margin-left: var(--spacer--md);
}
.q-catalog__card-details-row {
  margin-bottom: var(--spacer--xs);
}
.q-catalog__card-buttons {
  display: flex;
  justify-content: space-between;
}
.q-catalog__card-description {
  margin-top: var(--spacer--sm);
  padding: var(--spacer--sm) 0;
  border-top: 1px solid var(--subtle-border);
}
.q-catalog__card-description p {
  margin-top: 0;
}
.q-catalog__card-description p:last-child {
  margin-bottom: 0;
}

.q-catalog__filterbar {
  margin-bottom: var(--spacer--md);
  display: flex;
}
.q-catalog__filterbar-block {
  display: flex;
  align-items: center;
  margin-right: var(--spacer--md);
}
.q-catalog__filterbar-block label {
  margin-right: var(--spacer--sm);
}
.q-catalog__filterbar-block label + div {
  min-width: 150px;
}
.q-catalog__filterbar-block > button:last-child {
  margin-left: var(--spacer--xs);
}

.wait-lock {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
}

.classic-table {
  border-color: rgb(238, 238, 237);
  border-style: inset;
  border-width: var(--table-border-width, 0);
  border-spacing: var(--table-cellspacing, 0);
}
.classic-table td,
.classic-table th {
  border-spacing: var(--table-cellpadding, 0);
  border-color: rgb(238, 238, 237);
  border-style: inset;
  border-width: var(--table-border-width, 0);
}
.classic-table td > img,
.classic-table th > img {
  vertical-align: bottom;
}

.q-ghost-button {
  appearance: none;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  user-select: none;
  font-size: 1rem;
  color: var(--text-hc);
  background: transparent;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: var(--spacer--sm);
}
.q-ghost-button:hover {
  background-color: var(--ui-element-hover-background);
}

.q-button {
  appearance: none;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  user-select: none;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  font-weight: bold;
  font-size: 1rem;

  background: var(--solid-background);
  border: 1px solid var(--solid-background);
  border-radius: var(--border-radius);
  color: var(--text-solid);
  padding: var(--spacer--sm) var(--spacer--md);
}

.q-button:hover {
  background: var(--solid-hover-background);
}
.q-button:focus,
.q-button:focus-within,
.q-button:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--subtle-border), 0 1px 2px 0 black;
}
.q-button:disabled {
  cursor: default;
  opacity: 0.6;
}
.q-button.q-danger {
  background: var(--danger);
  border-color: var(--danger);
}
.q-button.q-danger:focus,
.q-button.q-danger:focus-within {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--danger-subtle-border), 0 1px 2px 0 black;
}

.q-button + .q-button {
  margin-left: var(--spacer--sm);
}

.q-select {
  appearance: none;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0;
  user-select: none;
  font-size: 1rem;
  width: 100%;

  background: var(--app-background);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  color: var(--text-hc);
  padding: var(--spacer--sm) var(--spacer--sm) var(--spacer--sm) var(--spacer--md);
}

.q-select:hover {
  border-color: var(--hover-border);
}

.q-select:focus,
.q-select:focus-within,
.q-select:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--subtle-border), 0 1px 2px 0 black;
}

.q-select-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--spacer--sm);
}

.q-select-content {
  background: var(--app-background);
  border: 1px solid var(--border);
  color: var(--text-hc);
  font-size: 1rem;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  overflow: hidden;
}

.q-select-item {
  position: relative;
  cursor: pointer;
  padding: var(--spacer--sm) var(--spacer--md) var(--spacer--sm) var(--spacer--lg);
}
.q-select-item:hover {
  background: var(--ui-element-hover-background);
}

.q-select-scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  background-color: white;
  color: var(--solid-background);
  cursor: default;
}

.q-select-item-indicator {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--solid-background);
}

.q-input {
  appearance: none;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  user-select: none;
  font-size: 1rem;

  background: var(--app-background);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  color: var(--text-hc);
  padding: var(--spacer--sm);
}
.q-input:hover {
  border-color: var(--hover-border);
}
.q-input:focus,
.q-input:focus-within,
.q-input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--subtle-border);
}

.q-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.q-book {
  --color: var(--solid-background);
  --duration: 6.8s;
  width: 32px;
  height: 12px;
  position: relative;
  margin: 32px 0 0 0;
  zoom: 1.5;
}
.q-book .q-inner {
  width: 32px;
  height: 12px;
  position: relative;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  animation: q-book var(--duration) ease infinite;
}
.q-book .q-inner .q-left,
.q-book .q-inner .q-right {
  width: 60px;
  height: 4px;
  top: 0;
  border-radius: 2px;
  background: var(--color);
  position: absolute;
}
.q-book .q-inner .q-left:before,
.q-book .q-inner .q-right:before {
  content: '';
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: inherit;
  position: absolute;
  top: -10px;
  left: 6px;
}
.q-book .q-inner .q-left {
  right: 28px;
  transform-origin: 58px 2px;
  transform: rotateZ(90deg);
  animation: q-left var(--duration) ease infinite;
}
.q-book .q-inner .q-right {
  left: 28px;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  animation: q-right var(--duration) ease infinite;
}
.q-book .q-inner .q-middle {
  width: 32px;
  height: 12px;
  border: 4px solid var(--color);
  border-top: 0;
  border-radius: 0 0 9px 9px;
  transform: translateY(2px);
}
.q-book ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 0;
}
.q-book ul li {
  height: 4px;
  border-radius: 2px;
  transform-origin: 100% 2px;
  width: 48px;
  right: 0;
  top: -10px;
  position: absolute;
  background: var(--color);
  transform: rotateZ(0deg) translateX(-18px);
  animation-duration: var(--duration);
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.q-book ul li:nth-child(0) {
  animation-name: q-page-0;
}
.q-book ul li:nth-child(1) {
  animation-name: q-page-1;
}
.q-book ul li:nth-child(2) {
  animation-name: q-page-2;
}
.q-book ul li:nth-child(3) {
  animation-name: q-page-3;
}
.q-book ul li:nth-child(4) {
  animation-name: q-page-4;
}
.q-book ul li:nth-child(5) {
  animation-name: q-page-5;
}
.q-book ul li:nth-child(6) {
  animation-name: q-page-6;
}
.q-book ul li:nth-child(7) {
  animation-name: q-page-7;
}
.q-book ul li:nth-child(8) {
  animation-name: q-page-8;
}
.q-book ul li:nth-child(9) {
  animation-name: q-page-9;
}
.q-book ul li:nth-child(10) {
  animation-name: q-page-10;
}
.q-book ul li:nth-child(11) {
  animation-name: q-page-11;
}
.q-book ul li:nth-child(12) {
  animation-name: q-page-12;
}
.q-book ul li:nth-child(13) {
  animation-name: q-page-13;
}
.q-book ul li:nth-child(14) {
  animation-name: q-page-14;
}
.q-book ul li:nth-child(15) {
  animation-name: q-page-15;
}
.q-book ul li:nth-child(16) {
  animation-name: q-page-16;
}
.q-book ul li:nth-child(17) {
  animation-name: q-page-17;
}
.q-book ul li:nth-child(18) {
  animation-name: q-page-18;
}

@keyframes q-page-0 {
  4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  13%,
  54% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  63% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-1 {
  5.86% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  14.74%,
  55.86% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  64.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-2 {
  7.72% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  16.48%,
  57.72% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  66.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-3 {
  9.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  18.22%,
  59.58% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  68.22% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-4 {
  11.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  19.96%,
  61.44% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  69.96% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-5 {
  13.3% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  21.7%,
  63.3% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  71.7% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-6 {
  15.16% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  23.44%,
  65.16% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  73.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-7 {
  17.02% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  25.18%,
  67.02% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  75.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-8 {
  18.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  26.92%,
  68.88% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  76.92% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-9 {
  20.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  28.66%,
  70.74% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  78.66% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-10 {
  22.6% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  30.4%,
  72.6% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  80.4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-11 {
  24.46% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  32.14%,
  74.46% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  82.14% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-12 {
  26.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  33.88%,
  76.32% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  83.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-13 {
  28.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  35.62%,
  78.18% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  85.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-14 {
  30.04% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  37.36%,
  80.04% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  87.36% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-15 {
  31.9% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  39.1%,
  81.9% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  89.1% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-16 {
  33.76% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  40.84%,
  83.76% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  90.84% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-17 {
  35.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  42.58%,
  85.62% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  92.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-page-18 {
  37.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  44.32%,
  87.48% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  94.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes q-left {
  4% {
    transform: rotateZ(90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
  }
  46%,
  54% {
    transform: rotateZ(90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(90deg);
  }
}
@keyframes q-right {
  4% {
    transform: rotateZ(-90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
  }
  46%,
  54% {
    transform: rotateZ(-90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(-90deg);
  }
}
@keyframes q-book {
  4% {
    transform: rotateZ(-90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  40.01%,
  59.99% {
    transform-origin: 30px 2px;
  }
  46%,
  54% {
    transform: rotateZ(90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  96% {
    transform: rotateZ(-90deg);
  }
}
