:root {
  --border-radius: 4px;

  --spacer--xs: 4px;
  --spacer--sm: 8px;
  --spacer--md: 16px;
  --spacer--lg: 24px;
  --spacer--xl: 32px;
  --spacer--2xl: 48px;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

qsp-player {
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  font-size: var(--font-size);
  font-family: var(--font-name);
  color: var(--color);
  display: block;
}
qsp-player button,
qsp-player input,
#portal-container input,
#portal-container button {
  color: var(--color);
  font-size: var(--font-size);
  font-family: var(--font-name);
}
qsp-player a,
qsp-player a:visited,
#portal-container a,
#portal-container a:visited {
  color: var(--link-color);
}
a.plain {
  text-decoration: none;
}

.qsp-overlay {
  position: fixed;
  inset: 0;
  background-color: var(--background-color, black);
  opacity: 0.8;
}

.qsp-pause-screen {
  max-height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: minmax(0, 1fr);
  column-gap: 12px;
}
qsp-pause-screen {
  display: grid;
  grid-template-rows: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);
}
.qsp-pause-dialog {
  width: 90vw;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}
.qsp-pause-screen-buttons {
  display: flex;
  flex-direction: column;
  width: 9em;
  margin-right: 24px;
}
.qsp-pause-screen-buttons .qsp-button,
qsp-region[data-region-name='qspider-pause-screen-buttons'] .qsp-button {
  width: 100%;
}
.qsp-pause-screen-buttons .qsp-button + .qsp-button,
qsp-region[data-region-name='qspider-pause-screen-buttons'] .qsp-button + .qsp-button {
  margin-top: 8px;
  margin-left: 0;
}
qsp-region[data-region-name='qspider-pause-screen-buttons'] {
  margin-top: 8px;
}
qsp-region[data-region-name='qspider-pause-screen-buttons'] .qsp-button:last-child {
  margin-bottom: 8px;
}
qsp-slots-list {
  display: grid;
  grid-template-columns: 1fr;
}
qsp-save-slot {
  all: unset;
  padding: 4px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
qsp-save-slot + qsp-save-slot,
qsp-save-slot:first-of-type {
  border-top: 1px solid var(--border-color);
}
qsp-save-slot:last-of-type {
  border-bottom: 1px solid var(--border-color);
}
.qsp-volume-slider-track {
  background-color: var(--background-color-inverted);
}
.qsp-volume-slider-range {
  background-color: var(--background-color-inverted-contrast);
}
.qsp-volume-slider-thumb {
  background-color: var(--background-color-inverted-contrast);
}
.qsp-volume-slider-thumb:focus {
  box-shadow: 0 0 0 5px var(--background-color-inverted);
}
qsp-global-hotkeys,
qsp-game-hotkeys {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
  row-gap: 12px;
  margin-bottom: 6px;
}
@container (max-width: 700px) {
  qsp-global-hotkeys,
  qsp-game-hotkeys {
    grid-template-columns: 1fr;
  }
}
qsp-hotkey {
  display: flex;
  justify-content: space-between;
}
qsp-hotkey-keys {
  font-family: monospace;
}
qsp-hotkey-key {
  border: 1px solid var(--border-color);
  padding: 2px 4px;
  margin: 4px 2px;
}

[data-qsp='locale-select'] {
  background-color: var(--background-color);
  color: var(--background-color-contrast);
  border-radius: 4px;
  padding: 4px 16px;
  border: 1px solid var(--border-color);
}

qsp-player .qsp-button,
#portal-container .qsp-button {
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--background-color-contrast);
  border-radius: 4px;
  padding: 4px 16px;
  border: 1px solid var(--border-color);
}
qsp-player .qsp-button:hover,
#portal-container .qsp-button:hover {
  background-color: var(--background-color-inverted);
  color: var(--background-color-inverted-contrast);
  border-color: var(--background-color-inverted);
}
qsp-player .qsp-button:focus,
#portal-container .qsp-button:focus {
  outline: none;
  box-shadow:
    0 0 0 2px #ffffff,
    0 0 0 4px var(--background-color-inverted),
    0 1px 2px 0 black;
}
.qsp-button + .qsp-button {
  margin-left: var(--spacer--sm);
}
.qsp-dialog-buttons {
  margin-top: var(--spacer--md);
  display: flex;
  justify-content: flex-end;
}
.qsp-input {
  margin-top: var(--spacer--sm);
  width: 100%;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  line-height: 1.8;
}
.qsp-input:focus {
  outline: none;
  box-shadow: inset 0 0 3px 1px var(--background-color-contrast);
}
