@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

.layer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.layer-index {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  background-color: grey;
  padding: 4px;
  border-radius: 2px;
}

.center-row {
  flex: 1;
  display: flex;
  align-items: stretch;
}
.center-dock {
  flex: 1;
}

.dock {
  border: 1px dashed lightslategray;
  height: 100%;
  display: flex;
  position: relative;
}
.dock-buttons {
  position: absolute;
  top: 0;
  right: 0;
}
.dock.left,
.dock.right {
  flex-direction: column;
}
.dock-configured {
  border-color: brown;
}

.add-dock-button {
  display: inline-block;
  min-width: 42px;
  min-height: 42px;
  font-weight: bold;
  width: 100%;
  height: 100%;
}
.pane,
.dock.main {
  border: 1px solid black;
  padding: 4px;
  flex: 1 0 0;
}

.left-dock,
.right-dock {
  display: flex;
}

.resize-handle,
.pane-resize-handle {
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resize-handle.top,
.resize-handle.bottom {
  height: 15px;
}

.resize-handle.left,
.resize-handle.right {
  width: 15px;
}

.pane-resize-handle.top,
.pane-resize-handle.bottom {
  width: 15px;
}

.pane-resize-handle.left,
.pane-resize-handle.right {
  height: 15px;
}
